.div1 {
    height: 100vh;
    background-color: pink;
}

.div2{
    height: 100vh;
    background-color: white;
}

.box{
    width: 150px;
    height: 150px;
    background-color: salmon;
}

.boxActive{
    width: 500px;
    height: 500px;
    background-color: red;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: green;
}

.panel1 {
    height: 100vh;
    background-color: pink;
}

.panel2{
    height: 100vh;
    background-color: white;
}

