.a{
    height: calc(23.8vw/4*6);
    width: 23.8vw;
    overflow: hidden;
    /* position: absolute; */
    /* top: 18vh; */
    /* left: 50%; */
    object-fit: cover;
    /* transform: translate(-50%); */
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
}

.d{
    display: flex;
    align-items: flex-end;
    margin-left: 38.1vw;
    gap: 1.5rem;
}

.c {
    position: relative;
    min-height: calc(100vh - 8rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 2.5rem;
}

.d li {
  list-style: none;
  font-size: 1.6rem;
}

.heroArrow{
    margin-left: 63.5vw;
}
